@model ib_dotnet.Models.Topic

@{
    ViewBag.Title = "Details";
}

<h1>@Html.DisplayNameFor(model => model.Title)</h1>
<p class="muted">Created by @Html.DisplayFor(model => model.CreatedBy.Name) on @Html.DisplayFor(model => model.CreatedAt)</p>
<p>@Html.DisplayFor(model => model.Content)</p>
<div class="btn-group">
    @Html.RouteLink("Add Reply", "Topic replies", new { topicId = Model.TopicId, action="Create", controller="Reply"}, new { @class="btn aaa"})
    @Html.ActionLink("Edit", "Edit", new { id=Model.TopicId}, new {@class="btn" })
    @Html.ActionLink("Back to List", "Index", new {}, new { @class = "btn" })
</div>
<h2>Replies</h2>
<div class="replies">
@foreach(var reply in Model.Replies)
{
    <article class="reply">
        <p class="muted">Created by @reply.CreatedBy.Name on @reply.CreatedAt </p>
        <p>@reply.Content</p>
    </article>
}
</div>

